{% set library = 'charts_' ~ chart_type ~ '/' ~ chart_type %}
{{ attach_library("#{ library }") }}
<p>This is the block.</p>
<div {{ attributes }} {{ content_attributes }} style="width:100%; height:400px;"></div>